<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">The Insurance Company</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="" (click)="open()">Show surveyor Unallocated list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="gotofee()">Surveyor Fee</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <br><br>
  <div class="h2 text-primary">
    Surveyor Allocated Claim List
  </div><br>
<!-- <h1>Surveyor Allocated Claim List</h1> -->
<table class="table table-dark table-bordered table-hover table-responsive">
    <thead>
      <tr class="table-dark">
        <th scope="col">ClaimID</th>
        <th scope="col">Date Of Accident</th>
        <th scope="col">Estimated Loss</th>
        
        <th scope="col">Update Claim</th>

      </tr>
    </thead>
    <tbody *ngFor="let category of data">
      <tr class="table-success">
        <td>{{category.claimId}}</td>
        <td >{{category.dateOfAccident | date: 'dd/MM/yyyy'}}</td>
        <td >{{category.estimatedLoss}}</td>
       

        <td><button class="btn btn-primary" (click)="gotoUpdate(category.claimId)">Update</button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>